language: python

python:
  - "3.6"

script:
  - python3 AdHosts.py

deploy:
 provider: pages
 skip_cleanup: true
 github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
 local_dir: host
 repo: games195/AdHosts
 target_branch: gh-pages
 on:
   branch: master
